*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 350px;
    margin: 50px 50px 50px 300px;
    background-color:aqua;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    gap: 5px;
    padding: 10px;

}
.input_div{
margin: 10px 5px 5px 50px;
}
h1{
    text-align: center;
}
input{
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid green;
}
button{
    border-radius: 50%;
    padding: 7px;
    font-size: 18px;
    font-weight: bold;
    background-color: green;
    color: #fff;
    border: none;
}
ul{
    display: flex;
    flex-direction: column;
    margin: 0 0 0 50px;
    list-style: none;
}
li{
    font-size: 18px;
    font-weight: bold;
}
.checked {
    text-decoration-line: line-through;
}